@media (max-width:767px) {

    .logo {
        margin-left: clamp(25px,1.3vw,200px);
    }


    nav {
        justify-content: space-between;
    }


    .nav-links {
        position: absolute;
        top: 80px;
        right: 0;
        display: none;
        height: auto;
        width: 50%;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        align-items: flex-start;
    }

    .nav-links li {
        margin-top: 40px;
    }

    .nav-links a {
        color: black;
    }

    .nav-links select {
        color: black;
    }

    .nav-links button {
        display: none;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
        margin-right: clamp(20px,1.3vw,200px);
        font-size: clamp(25px,1.3vw,200px);;;
    }

    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}